/* Reset de propiedades predeterminadas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Fundamental para el cálculo de dimensiones */
}

.modo-oscuro{
    background-color: #121212;
    color: #B0B0B0;
}

.titulo{
    text-transform: uppercase;
}
.title{
    width: 100hw;
    height: auto;
    background-color: bisque;

    display: flex;
    justify-content: space-between;
}
.darktitle{
    background-color: #292929;
    color: #bb86fc;
}
ol, ul {
    list-style-position: inside; 
}

.btn{
    padding: 4px;
    border-style: none;
}